// ### General ###

$font-family: 'Source Sans Pro', sans-serif;
$font-size: 16px;


// ### Media Breakpoints

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
$screen-fhd: 1920px;