@import 'variables';
html {
	font-family: $font-family;
	font-size: $font-size;
	height: 100%;

	body,
	main,
	section,
	footer
	{
		display: flex;
	}

	body {
		flex-direction: column;
		height: 100%;
		
		header {
		
		}
		
		main {
			flex: 1 0 auto;
			section {
				
			}
		}
		
		footer {
			background-color: crimson;
			flex-shrink: 0;
			small {
				width: 100%;
				padding: 2.5rem;
				color: white;
				text-align: center;
			}
		}

	}

	// stylowanie testowe dla galerii zdjęć - lazy loading
	.lozad {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 400px;
		width: auto;
		margin-bottom: 1em;
	}
}